.row{
    background: #3c6382;
   
}

/*footer{
    width: 100;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    margin: 10px 15px;
    width: 1800px;
    padding: 10px 15px;
    text-align: center;
    transition: 0.3s;
}
*/
footer{
    text-align:center;
    border: 1px;
    border-style: solid;
    
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    margin: 0% !important;
    padding-top: 2em;
    padding-right: auto;
    
}

