<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img style="width:500px;" src="../../../assets/blank-profile-picture-g4ea10638e_1280.png" class="img-fluid" id="foto">
        <br class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name" style="color:black; font-size:25px">Santiago Espeche</p>
        <p style="color:#05c46b; font-size:30px">Full Stack Developer Jr</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"></div>
        <span >
            <h2 style="color:black; font-size: 35px;">Sobre mí</h2>
            <h3>
                <p style="color:#f5f6fa; font-size: 20px">
                    Me dedicaba a la reparacion de pc hasta este el año pasado. Este año comence a estudiar Programacion. Al realizar este portfolio quice hacerlo minimalista, creo que puede estar mucho mejor. En los proximos meses planeo mejorarlo. Gracias por visitar.
                </p>
            </h3>
        </span>
</div>